{% extends 'mainapp/navbar.html' %} {% load static %} {% block content2 %}
<section class="first-section">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-6">
        <h1 class="main-h1">
          Your favourite place to<br /><span style="color: #fea82f">read</span>
        </h1>
        <form
          class="form-inline"
          method="POST"
          action="{% url 'mainapp:searchbar' %}"
        >
          {% csrf_token %}
          <input
            class="form-control col-lg-8 mr-sm-2"
            type="search"
            placeholder="Search Your Book, Publisher..."
            aria-label="Search"
            name="searched"
          />
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>
      <div class="col-6">
        <img
          src="https://svgshare.com/i/qpU.svg"
          class="main-pic"
          alt="Reader"
        />
      </div>
    </div>
  </div>
</section>

<div class="container-fluid my-5">
  <a href="{% url 'mainapp:book-list' %}">Trending books</a>
  <div class="card-deck">
    {% for book in books %}

    <div class="card">
      <img
        class="card-img-top"
        src="https://cdn.aseeralkotb.com/storage/media/257203/conversions/%D9%81%D8%AA%D8%A7%D8%A9-%D8%A7%D9%84%D9%8A%D8%A7%D9%82%D8%A9-%D8%A7%D9%84%D8%B2%D8%B1%D9%82%D8%A7%D8%A1-16931-200x300-webp.webp"
        alt="Card image cap"
      />
      <div class="card-body">
        <a href="{% url 'mainapp:book-detail' book.id %}"
          ><h5 class="card-title">{{book.title}}</h5></a
        >
        <a href="{% url 'mainapp:author-detail' book.id %}"
          ><p class="card-text">{{book.author.name}}</p></a
        >
      </div>
      <div class="card-footer">
        <p class="card-text d-inline">{{book.price}}</p>
        <button class="btn btn-success" type="submit">
          <i class="fa-solid fa-cart-plus"></i>
        </button>
        <a href="{% url 'mainapp:wishlist-add' book.id %}" class="btn btn-success" type="submit">
          Add to Wishlist
        </a>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

{% endblock content2 %}
