{% extends 'mainapp/base.html' %}{% load static %} {% block content %}

<div class="container1 m-auto">
  <div class="nav1">
    <nav class="navbar navbar-expand">
      <div class="container-fluid">
        <div class="row align-items-center text-center">
          <div class="col-lg-4 col-4">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active hover-underline-animation"
                  href="{% url 'mainapp:cart' %}"
                  ><i class="fa-solid fa-cart-shopping"></i
                  ><span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning"
                  >
                    {{cartItems}}
                    <span class="visually-hidden">unread messages</span>
                  </span></a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active hover-underline-animation"
                  href="{% url 'mainapp:wishlist' %}"
                  ><i class="fa-solid fa-heart"></i
                ></a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link active"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fa-solid fa-user"></i>
                </a>

                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="{% url 'accounts:login' %}"
                      >Login</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="{% url 'accounts:register' %}"
                      >Créer un compte</a
                    >
                  </li>
                  {% if user.is_authenticated %}
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="{% url 'accounts:logout' %}"
                      >Logout</a
                    >
                  </li>
                  {% endif %}
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 text-center col-4">
            <a class="navbar-brand" href="{% url 'mainapp:main-page' %}"
              ><img src="{% static 'mainapp/images/fn.png' %}" alt=""
            /></a>
          </div>
          <div class="col-lg-4 col-4">
            <form
              class="d-flex"
              role="search"
              method="POST"
              action="{% url 'mainapp:searchbar' %}"
            >
              {% csrf_token %}
              <input
                style="font-size:100%;"
                class="form-control me-2"
                type="search"
                placeholder="Search "
                aria-label="Search"
                name="searched"
              />
              <button class="btn btn-outline-success"  style="margin-left: -50px; background-color: white;
               color: #fea82f;
               border: 0 ;
               
              " type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <nav class="navbar navbar-expand-lg sticky-top">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a
              class="nav-link active hover-underline-animation"
              href="{% url 'mainapp:main-page' %}"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active hover-underline-animation"
              href="{% url 'mainapp:book-list' %}"
              >Bibliothèque</a
            >
          </li>
          <li class="nav-item dropdown dropdown-hover position-static">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              Catégories
            </a>
            <!-- Dropdown menu -->
            <div
              class="dropdown-menu mt-0"
              aria-labelledby="navbarDropdown"
              style="border-top-left-radius: 0; border-top-right-radius: 0"
            >
              <div class="container">
                <div class="row my-4">
                  <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
                    <div class="list-group list-group-flush">
                      <a href="" class="list-group-item list-group-item-action">
                        Novels
                      </a>
                      <a href="" class="list-group-item list-group-item-action"
                        >History</a
                      >
                      <a href="" class="list-group-item list-group-item-action"
                        >Mystery</a
                      >
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
                    <div class="list-group list-group-flush">
                      <a href="" class="list-group-item list-group-item-action">
                        Self-Help
                      </a>
                      <a href="" class="list-group-item list-group-item-action"
                        >Religion</a
                      >
                      <a href="" class="list-group-item list-group-item-action"
                        >Biography</a
                      >
                    </div>
                  </div>

                  <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
                    <div class="list-group list-group-flush">
                      <a href="" class="list-group-item list-group-item-action"
                        >Kids</a
                      >
                      <a href="" class="list-group-item list-group-item-action"
                        >Thrilling</a
                      >
                      <a href="" class="list-group-item list-group-item-action"
                        >Educational</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link active hover-underline-animation" href="#"
              >Contact us</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active hover-underline-animation" href="#"
              >Terms of Policy</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% block content2 %}{% endblock content2 %}
  <div class="container2 mt-5 w-100">
    <footer
      class="text-white text-center text-lg-start"
      style="background-color: #23242a; width: 100%"
    >
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row mt-4 align-items-center">
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
           

            

            <ul class="fa-ul" style="margin-left: 1.65em">
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-home"></i></span
                ><span class="ms-2">PARK MALL, Setif 19000، الجزائر · ~4 </span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-envelope"></i></span
                ><span class="ms-2">info@example.com</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-phone"></i></span
                ><span class="ms-2">+ 01 234 567 88</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-print"></i></span
                ><span class="ms-2">+ 01 234 567 89</span>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0 text-center">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3220.005154458105!2d5.408005115230268!3d36.19075648007875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12f31553934d0bef%3A0x69b27700f6129f88!2z2YHZhtmDINmE2YTZg9iq2KggZmVubmVjIGJvb2tz!5e0!3m2!1sen!2sdz!4v1680182368639!5m2!1sen!2sdz"
              width="60%"
              height="320"
              style="border: 0; width: 100%"
              allowfullscreen=""
              loading="lazy"
              id="my-location"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Opening hours</h5>

            <table class="table text-center text-white">
              <tbody class="font-weight-normal">
                <tr>
                  <td>Mon - Thu:</td>
                  <td>8am - 9pm</td>
                </tr>
                <tr>
                  <td>Fri - Sat:</td>
                  <td>8am - 1am</td>
                </tr>
                <tr>
                  <td>Sunday:</td>
                  <td>9am - 10pm</td>
                </tr>
              </tbody>
            </table>
            <div class="mt-4 text-center">
              <!-- Facebook -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <!-- Dribbble -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"
                ><i class="fab fa-dribbble"></i
              ></a>
              <!-- Twitter -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"
                ><i class="fab fa-twitter"></i
              ></a>
              <!-- Google + -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"
                ><i class="fab fa-google-plus-g"></i
              ></a>
              <!-- Linkedin -->
            </div>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">Fennec Books</a>
      </div>
      <!-- Copyright -->
    </footer>
  </div>
  <!-- End of .container -->
</div>
{% endblock content %}
