{% extends 'mainapp/base.html' %} {% load static %} {% block content %}
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{% url 'mainapp:main-page' %}"
      ><img
        src="{% static 'mainapp/fn.png' %}"
        width="70"
        height="60"
        class="d-inline-block align-top"
        alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Category</a>
        </li>
        <li class="nav-item dropdown active">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'accounts:login' %}"
              >Log In</a
            >

            <a class="dropdown-item" href="{% url 'accounts:logout' %}"
              >Log Out</a
            >

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'accounts:register' %}"
              >Register</a
            >
          </div>
        </li>

        <li class="nav-item dropdown active">
          <a
            class="nav-link"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fa-regular fa-circle-user profile"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="">Profile</a>

            <a class="dropdown-item" href="{% url 'mainapp:wishlist' %}">Wishlist</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="">Cart</a>
          </div>
        </li>
      </ul>
      <form
        method="POST"
        action="{% url 'mainapp:searchbar' %}"
        class="form-inline my-2 my-lg-0"
      >
        {% csrf_token %}
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="searched"
        />
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </nav>
</div>
{% block content2 %}{% endblock content2 %} {% endblock content %}
