{% extends 'mainapp/base.html' %}{% load static %} {% block content %}
<div class="container1">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"
        ><img src="{% static 'mainapp/images/fn.png' %}" alt=""
      /></a>
      <div class="justify-content-end">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active hover-underline-animation"
              href="{% url 'mainapp:cart' %}"
              ><i class="fa-solid fa-cart-shopping"></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active hover-underline-animation"
              href="{% url 'mainapp:wishlist' %}"
              ><i class="fa-solid fa-heart"></i
            ></a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link active"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-solid fa-user"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{% url 'accounts:login' %}"
                  >Login</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'accounts:register' %}"
                  >Créer un compte</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg sticky-top">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active hover-underline-animation" href="#"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active hover-underline-animation"
              href="{% url 'mainapp:book-list' %}"
              >Bibliothèque</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active hover-underline-animation" href="#"
              >Categories</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active hover-underline-animation" href="#"
              >Contact us</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active hover-underline-animation" href="#"
              >Terms of Policy</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% block content2 %}{% endblock content2 %}
</div>
{% endblock content %}
