{% extends 'mainapp/navbar.html' %} {% load static %} {% block content2 %}
<div class="container-fluid">
  <div class="searcht text-center my-4"><h2 style="font-weight: 700;
  " >You've searched for : {{searched}}   </h2></div>
  <div class="searchicon text-center"><i style="font-size: 30px;
  color: #fea82f;" class="fa-solid fa-magnifying-glass fa-flip"></i></div>


  {% if searched %}

  <div class="row py-4">
    {% for book in books %}
    <div
      class="col-lg-3 text-center col-md-4 col-sm-6 text-center col-6 text-center"
    >
      <div class="product-grid">
        <div class="product-image">
          <a href="" class="image">
            <img class="pic-1" src="{{book.cover.url}}" />
          </a>

          <ul class="product-links">
            <li>
              <a href="#" data-tip="Add to Wishlist"
                ><i class="fas fa-heart"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="product-content">
          <h3 class="title"><a href="#">{{book.title}}</a></h3>
          <div class="price">${{book.price}}</div>
          <a class="add-to-cart" href="#">add to cart</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% else %}

  <h1>You must provide a valid search input</h1>

  {% endif %}
</div>
{% endblock content2 %}
