{% extends 'mainapp/navbar.html' %}{% load static %} {% block extrahead %}
<link rel="stylesheet" href="{% static 'mainapp/css/bib.css' %}" /> {%endblock%} {% block content2 %}

<section class="first"></section>

<div class="filtercontainer align-items-center">
  <div class="row align-items-center">
    <div class="col-lg-3 col-md-12 align-items-center">
      <b style="font-size: 18px">Trier Par :</b>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="dropdown">
        <button
          class="btn dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Price
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="dropdown">
        <button
          class="btn dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Date
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="dropdown">
        <button
          class="btn dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Publisher
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 d-none d-lg-block">
    <div class="cat">
      <ul>
        <li
          class="px-3"
          style="background-color: #967462; color: white; border-radius: 13px"
        >
          Tous Les Livres
        </li>
        <li
          class="px-3"
          style="background-color: #ebdcd0; border-radius: 13px; color: black"
        >
          Categories
        </li>
        <a href=""><li class="px-3">Novels</li></a>
        <a href=""><li class="px-3">Mystery</li></a>
        <a href=""><li class="px-3">Biography</li></a>
        <a href=""><li class="px-3">History</li></a>
        <a href=""><li class="px-3">Religion</li></a>
        <a href=""><li class="px-3">Kids</li></a>
        <a href=""><li class="px-3">Educational</li></a>
        <a href=""><li class="px-3">Thrilling</li></a>
      </ul>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="container-fluid">
      <div class="row py-4">
        {% for book in page_obj %}
        <div
          class="col-lg-3 text-center col-md-4 col-sm-6 text-center col-6 text-center"
        >
          <div class="product-grid">
            <div class="product-image">
              <a href="" class="image">
                <img
                  class="pic-1"
                  src="{{book.cover.url}}"
                />
              </a>

              <ul class="product-links">
                <li>
                  <a href="#" data-tip="Add to Wishlist"
                    ><i class="fas fa-heart"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="product-content">
              <h3 class="title"><a href="#">{{book.title}}</a></h3>
              <div class="price"> ${{book.price}}</div>
              <a class="add-to-cart" href="#">add to cart</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}

          <li class="page-item">
            <a href="?page=1" class="page-link">First</a>
          </li>
          <li class="page-item">
            <a href="?page={{page_obj.previous_page_number}}" class="page-link"
              >&laquo Previous</a
            >
          </li>

          {% endif %} {% for i in nbr %}

          <li class="page-item">
            <a href="?page={{forloop.counter}}" class="page-link"
              >{{forloop.counter}}</a
            >
          </li>

          {% endfor %} {% if page_obj.has_next %}

          <li class="page-item">
            <a href="?page={{page_obj.next_page_number}}" class="page-link"
              >Next &raquo</a
            >
          </li>
          <li class="page-item">
            <a href="?page={{page_obj.paginator.num_pages}}" class="page-link"
              >Last</a
            >
          </li>

          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</div>
{% endblock content2 %}
