{% extends 'mainapp/navbar.html' %} {% block content2 %}

<section>
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-3">
              <a href="{% url 'mainapp:main-page' %}" class="text-body"
                ><i class="fas fa-long-arrow-alt-left me-2"></i>Continue
                shopping</a
              >
            </h5>
            <hr />
            {% if wishlist_items %}
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="h5">Shopping Bag</th>

                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                
                {% for book in wishlist_items %}
                <tbody>
                  <div class="tableau">
                    <tr>
                      <td class="align-middle" >
                        <div class="d-flex align-items-center">
                          <img
                            src="{{book.cover.url}}"
                            class="img-fluid rounded-3"
                            style="width: 120px"
                            alt="Book"
                          />
                          <div class="flex-column ms-4" style="width: 100%">
                            <p class="mb-2" style="font-weight: 700;
                            font-size: 100%; 
                            width:200px
                            ;
                          
                            ">
                              {{book.title}}
                            </p>
                            <p class="mb-0" style="font-weight: 700;
                            font-size: 100%;                       
                             width:200px         ;  ">
                              {{book.author.name}}
                            </p>
                          </div>
                        </div>
                      </td>
                      
                 

                      <td  class="align-middle" >
                        <div class="text" style="margin-left: 120px;"> <b 
                        
                        
                          ><span>Price</span></b>
                          <p class="mb-0" style="font-weight: 500">
                            {{book.price}}
                          </p></div>
                        
                      </td>
                      <td class="align-middle">
                        <div class="add"><button>Move To Cart</button></div>
                      </td>

                      <td class="align-middle">
                        <div class="trash">
                          <form
                            method="POST"
                            action="{% url 'mainapp:wishlist-remove' book.id %}"
                          >
                            {% csrf_token %}
                            <button type="submit" class="btn">
                              <i class="fas fa-trash"></i>
                            </button>
                          </form>
                        </div>

                        <style>
                          .trash a i {
                            color: black;
                            font-size: 23px;
                          }

                          .trash a i:hover {
                            color: red;
                          }
                          .add button {
                            color: #fea82f;
                            width: 150px;
                            height: 40px;
                            border: 1px solid #fea82f;
                            border-radius: 25px;
                          }
                          .add button:hover {
                            background-color: #fea82f;
                            color: white;
                          }
                          .tableau tr td {
                            margin-left: 800px;
                          }
                        </style>
                      </td>
                    </tr>
                  </div>
                </tbody>
                {% endfor %}
              </table>
            </div>
          </div>
          {% else %}
          <h1 class="text-center" style="font-weight: 700;">Oops! Your Wishlist is empty</h1>
          <div class="heartwishlist text-center " >
            <i style="font-size: 130px; 
            margin-top: 70px;
            color: red;
            " class="fa-solid fa-heart-crack fa-bounce "></i>
          </div>
          
        
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content2 %}
