body {
  font-family: poppins;
  font-weight: 400;
  background-color: #fcecdd;
}

a {
  color: #212529;
}
a:hover {
  color: #212529;
}

.first-section {
  margin-bottom: 200px;
}

.main-pic {
  width: 100%;
}

.main-h1 {
  font-weight: 800;
  font-size: 5rem;
}

.bookish-brand {
  font-weight: 800;
}

.detail-img {
  border-radius: 4%;
}

.btn-outline-danger {
  border-color: #fea82f !important;
  color: #fea82f !important;
}

.btn-outline-danger:hover {
  background-color: #fea82f !important;
  color: #fff !important;
}

.bdr {
  border-radius: 6px;
  overflow: hidden;
}

.profile-pic {
  width: 50px;
  border-radius: 50%;
}

.pfp {
  width: 50px;
  border-radius: 50%;
}

.card {
  text-align: center;
}

.profile {
  font-size: 1.5rem;
}

/* .category-link {
  margin-bottom: 20px;
} */
